
<form method="POST" action={{ url_for('new_puppy', shelter_id=shelter.id) }}>
  <div>{{ form.name.label }}:   {{ form.name() }}</div>
  <div>{{ form.gender.label }}: male {{form.gender(type="radio",value="male")}}
                                female {{form.gender(type="radio",value="female")}}
  </div>
  <div>{{ form.weight.label }}: {{ form.weight() }}</div>
  <div>{{ form.shelter_id( type="hidden",value=shelter.id ) }}</div>
  <input type = 'submit' value = 'Create'>
</form>

<a href={{ url_for('show_puppies', shelter_id=shelter.id) }}>
  return to puppies listing
</a>

</body>
</html>
