<h1>{{adopter.name}}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li><strong>{{ message }} </strong></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h3>
  <a href={{ url_for('adopt_puppy', adopter_id=adopter.id) }}>Adopt a Puppy!</a>
</h3>

{% for puppy in puppies %}

<div>

<h3>{{puppy.name}}</h3>

<!-- <p>{{puppy.description}}</p> -->

<!-- <p> {{puppy.age}} </p> -->

<p>{{puppy.gender}}</p>

<p> {{puppy.adopted}}</p>

<a href={{ url_for('edit_puppy', shelter_id="n", puppy_id=puppy.id) }}>edit</a>
<a href={{ url_for('delete_puppy', shelter_id="n", puppy_id=puppy.id) }}>delete</a>

</div>

{% endfor %}

</body>

</html>
