<h1>{{adopter.name}}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li><strong>{{ message }} </strong></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% for puppy in puppies %}
  <div>
    <h3>{{puppy.name}}</h3>

    <!-- <p>{{puppy.description}}</p> -->

    <!-- <p> {{puppy.age}} </p> -->

    <p>{{puppy.gender}}</p>

    <p> {{puppy.shelter_id}}</p>

    <form action = {{ url_for('adopt_puppy', adopter_id=adopter.id, puppy_id=puppy.id) }} method = 'POST' enctype = 'multipart/form-data'>
        <input type = 'submit' value = 'Adopt'>
    </form>
  </div>
{% endfor %}

<a href={{ url_for('show_puppies_by_adopter', adopter_id=adopter.id) }} >cancel</a>

</body>

</html>
